{% assign is_en = false %}
{% if page.url contains '/en' %}{% assign is_en = true %}{% endif %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          {% if is_en %}
            <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item">
              <a href="{{ '/' | relative_url }}" target="_self">
                <img class="svg" src="{{ '/images/cn.svg' | relative_url }}" width="20pt">
                中文
              </a>
            </li>
            {% for link in site.data.navigation_en.main %}
              <li class="masthead__menu-item"><a href="{{ link.url | relative_url }}">{{ link.title }}</a></li>
            {% endfor %}
          {% else %}
            <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item">
              <a href="{{ '/en/' | relative_url }}" target="_self">
                <img class="svg" src="{{ '/images/en.svg' | relative_url }}" width="20pt">
                English
              </a>
            </li>
            {% for link in site.data.navigation.main %}
              <li class="masthead__menu-item"><a href="{{ link.url | relative_url }}">{{ link.title }}</a></li>
            {% endfor %}
          {% endif %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
